<head>
  <title></title>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
  
</head>

<header id= "about-header">
  <a href = "/" class ="logo"> <img src="https://drive.google.com/uc?export=view&id=1UrxSj1DB0vrV_EgV_uVTbRARDo8HuA0g" alt="logo" width="105" height="85"></a>



</header>



<body id="gif">
</body>