
<h1> Edit your Space</h1>

<label for='Name'>Name:</label>
    <br>
    <input type='text' id='Name'> %>
    <br>
    <br>
    Price:
    <br>
    <input type="text" name="price" placeholder="£"> 
    </label>
    <br>
    <br>
    <label for="availability_from">
    Availability from
    <br>
    <input type="date" id="availability_from" name="availability_from"
          value="<%=@today%>"
          min="<%=@today%>" max="2022-12-31">
    <br>
    <br>
    <label for="availability_to">
    Availability to
    <br>
    <input type="date" id="availability_to" name="availability_to"
          value="<%=@tomorrow%>"
          min="<%=@tomorrow%>" max="2022-12-31">
    <br>
    <br>
    <input type="submit" value="Save">
  </form>
