      <h3> <%= @space.space_name %> </h3>
      <!-- IMAGE OF LISTING -->
      <%= @space.description %>
      £<%= @space.price %>
      <br>
      Available From:
      @space.availability_from
      to
      @space.availability_to
      <br>
      <form method="post" action="/booking/<%=@space.id%> ">
        <input type="submit" value="Request to book">
      </form>