<h3> Here is a list of <%= @user.name %>'s spaces: </h3>
<ul>
  <% @space.each do |space| %>
    <li>
        <%= space.space_name %>
        <!-- space.tag -->
        £<%= space.price %>
        <br>
        <form action="/edit-space/<%= space.id %>">
          <input type="submit" value="Edit">
        </form>
    </li>
  <% end %>
  </ul>