/* #title {
  border: 3px solid rgb(0, 0, 0);
  text-align: center;
  border-radius: 25px;
  padding: 10px;
} */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: rgb(255, 255, 255); */
  font-size: x-large;
  font-family: 'Roboto', sans-serif;
  color: rgb(71, 71, 71);
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  border-radius: 25px;
}

.nav__links {
list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3 ease 0s;
}

.nav__links li a:hover{
  transition: all 0.3 ease 0s;
  color: brown;
}

#button {
margin-left: 20px;
padding: 9px 25px;
border: none;
border-radius: 50px;
cursor: pointer;
transition: all 0.3 ease 0s;
background-color: white;
}

button:hover {
  background-color: rgba(0, 136, 139, 0.8);

}

form {
background-color: white;
}

#window {
  border: 5px solid rgb(228, 228, 228);
  width: 300px;
  height: auto;
  justify-content: center;
  margin: auto;
  padding: 10px;
  margin-top: 10px;
  }

  h3, h1, h2 {
    display: flex;
    justify-content: center;
  }

  #RTB {
    border: 5px solid black;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;


  }


  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: white}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

  #RM {
  float: left;    
  margin: auto;
  border: 2px solid rgb(228, 228, 228);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;

  
  }
  #RR {
    float: left;
    margin: auto;
    margin-left: 20px;

    border: 2px solid rgb(228, 228, 228);
  border-radius: 5px;
  padding: 10px;
  
 
  }

  #R {
    width: 800px;
    height: auto;
    justify-content: baseline;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    }
p {
font-size: large;
}

#gif {
  background-image:url(https://drive.google.com/uc?export=view&id=1MhvFtC9AnTlNFlx-KsFaARtuQLgqIf9d);
  display: flex;
  justify-content: center;
}

#listing {
  border: 2px solid rgb(228, 228, 228);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 15px;

}

#list1 {
  border: 5px solid white;
  width: 300px;
  height: auto;
  justify-content: center;
  margin: auto;
  padding: 10px;
  margin-top: 10px;
}